<% provide(:title, "Load song")%>
<%= form_for(@song) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.file_field :name %>
  </div>
  <p>
    <%= f.submit t('create_account'), class: "btn btn-large btn-primary" %>
  </p>
<% end %>
