<% provide(:title, "Load song")%>
<%= form_for([@user, @user.songs.build], url: song_create_path) do |f| %>
  <%#= render 'shared/error_messages', object: f.object %>
  <div>
    <%= f.file_field :file %>
  </div>
  <p>
    <%= f.submit t('create_account'), class: "btn btn-large btn-primary" %>
  </p>
<% end %>
