<p>
  <% if !signed_in? %>
    <%= link_to "Sign In", signin_path %>
    <%= link_to "Registe", new_user_path %>
    <%= link_to "Reset password", reset_new_path %>
  <% else %>
    <%= link_to "SIgn Out", signout_path, method: 'delete' %>
  <% end %>
</p>